---
layout: "empty"
versions: []
---

<div class="dropdown-filter">
  <div class="dropdown-search-bar">
    <input id="version-select" type="text" placeholder="Filter">
  </div>
  <div class="dropdown-content">
    <ul class="dropdown-list">
      <% current_page.data.versions.each do |version| %>
        <li><a id="version-link-<%= version %>" class="version-link" href="/<%= version %>"><%= version %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="dropdown-footer dropdown-content">
    <ul class="dropdown-list">
      <li><a id="release-candidate" href="/version/release-candidate">Release Candidate</a></li>
      <li><a id="latest-release" href="/">Latest</a></li>
    </ul>
  </div>
</div>
